input {
    height: 20%;
}
.container {
    width: 85%;
    margin-top: 5%;
}
.buttonContainer {
     text-align: right;
 }
input:focus {
    border: 2px solid orange !important;
    color: #0c5460;
}
