* {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    height: 10vh;
    background-color: #0c5460;
    width: 100%;
}
h1 {
    color: white;
    margin: 0;
    font-size: 5rem;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-8%);
}
.logoContainer {
    text-align: center;
    height: 32vh;
    width: 100%;
    display: inline-block;
    margin: auto;
    transform: translateX(10%);

}
.logo {
    background-image: url('./images/kitten_temp_logo.jpg');
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    margin: auto;
}
/*#form-container{*/
    /*padding-top: 2.5%;*/

/*}*/