* {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    height: 10vh;
    background-color: #0c5460;
}
h1 {
    color: white;
    margin: 0;
    font-size: 10rem;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}