/*@media (min-width:320px)  { !* smartphones, iPhone, portrait 480x320 phones *! }*/
/*@media (min-width:481px)  { !* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. *! }*/
/*@media (min-width:641px)  { !* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones *! }*/
/*@media (min-width:961px)  { !* tablet, landscape iPad, lo-res laptops ands desktops *! }*/
/*@media (min-width:1025px) { !* big landscape tablets, laptops, and desktops *! }*/
/*@media (min-width:1281px) { !* hi-res laptops and desktops *! }*/

/*Mobile styles*/
@media (min-width:320px) AND (max-width:641px)  {
    .mainContainer {
        margin: 0;
    }
    #pwStrength{
        margin-left: 0;
    }
    .deleteButton {
        display: inline-block;
        position: relative;
        right: 85%;
        top: 4vh;
        width: 0% !important;
    }
    .petRow>a, .petRow>div {
        float: left;
        width: 37%;
    }
    .card .card-block {
        margin: -2% 0 6% 0;
    }
    h2.petListName, h4.petListName {
        top: 50%;
        position: relative;
        /*transform: translateY(-50%);*/
    }
    .btn-success {
        position: relative;
        /* left: 16px; */
    }
    button.signUpBtn {
        left:0px;
    }
}
/*special media query for about us page, tablets will have the same view as phones do*/
@media (max-width: 800px) and (min-width: 320px) {
    .profileContainer {
        width: 100%;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .textContainer {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}

/* ipad view  */
@media (min-width: 641px) and (max-width: 1024px){
    .mainContainer {
        margin: 0;
    }
    .msgBtnContainer > .home-msg {
        font-size: 2rem;
    }
    .homeBtn {
        text-align: center;
        width: 24vw;
        font-size: 1.85rem;
    }

}

/*Laptops and monitors*/
@media (min-width: 550px)  {
   
    body {
        overflow: hidden;
        overflow-y: visible;
    }
    .content-modal {
        width: 40% !important;
    }

    /********* landing_page ********/
    .loginLogo {
        width: 20%;
    }
    .loginBtnContainer {
        margin: auto;
        width: 80%;
    }
    .homeBtn {
        text-align: center;
        width: 11vw;
        font-size: 0.85rem;
    }
    .msgBtnContainer {
        padding: 0 5%;
    }
    .landinglogoContainer {
        margin-top: 4%;
    }
    .home-msg {
        margin: 2% 10%;
    }
    /********* login_page ************/

    .logoContainer {
        margin: 2% 10% 0;
    }

    .buttonContainer {
        padding-bottom: 20px;
    }
    /*********** vet_page ***************/
    .vetTitle {
        width: 60%;
        margin: 2% auto 2%;
    }

    .buttonContainer {
        position : relative;
        /* width: 80%; */
        margin: inherit;
        top: 2vh;

    }
    .form-group {
        width: 100%;
        margin: auto;
    }
    /************* pet_title ****************/
    .parentPageTitle {
        margin: 0% auto 2%;
        width: 60%;
    }
    .parentPage {
        margin: 2% 0;
    }
    /********** pet_list **************/
    .petListTitle {
        width: 60%;
        margin: auto;
    }

    .usersPetContainer {
        width: 100%;
        margin: auto;
        padding: 20px;
    }
    .deleteNAddContainer button {
       margin: 0 10px;
    }
    .petAvatarPetList {
        height: 19vh;
        width: 19vh;
    }
    .petList {
        min-width: 26%;
        position: relative;
        left: 10%;
        right: 10%;
    }
    .row.justify-content-center.petRow {
        display: inline-block;
        min-width: 33%;
        position: relative;
        margin-right: 0;
    }
    .petAvatar {
        height: 20vh;
        width: 20vh;
        background-size: cover;
        position: relative;
        vertical-align: top;
    }
    .petRow {
        vertical-align: top;
    }
    .burger-line {
        width: 70%;
        height: 17%;
        background-color: rgba(214, 117, 5, 0.89);
        border-radius: 1vmin;
        transition-duration: 1s;
    }
    .menuContainer {
        width: 30%;
        padding: 3%;
        float: right;
    }
    .menuContainer div {
        padding: 10%;
    }
    .petRow>a, .petRow>div {
        margin: auto;
        float: none;
        width: 100%;
        display: block;
    }
    .h2, h2 {
       transform: none;
    }
    .deleteButton {
        text-align: center;
    }
    .petAvatar.petAvatarModal {
        left: 0;
        transform: none;
    }
    .card .card-block {
        padding-top: 2% !important;
        padding-bottom: 2%;
    }

/************** pet_profile *****************/

    /*.petAvatarProfile {*/
        /*margin-left: 55%;*/
        /*top: 50%;*/
    /*}*/
    .listTitle {
        width: 60%;
        margin: auto;
    }
    .record-item {
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .recordContainer {
        /* height: 8vh; */
        position: relative;
        width: 60%;
        margin: auto;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
    .petInfoContainer {
        position: relative;
        background-color: rgba(88, 55, 0, 0.75);
        color: white;
    }

    /*.petImgContainer .petAvatar {*/
        /*top: 5.5vh;*/
        /*left: 37%;*/
    /*}*/
    .petInfo {
        top: 20%;
    }
    .noPetData {
        width: 60%;
        margin: auto;
        border-left: 1px solid black;
        border-right: 1px solid black;
        margin-bottom: 10px;
    }

    /******* add_pet ********/

    form.container .btn-primary {
        position: relative;
        /* left: 10%; */
        margin-top: 10px;
    }
}
/********* connect pet to vet *********/
/*apply to submit button*/
.submitBtnPetToVet {
    position: relative;
    /* left: 10%; */
    top: 3vh;
    margin-bottom: 10px;
}

.skipBtn {
    position: relative;
    left: 75%;
    top: 1vh;
    color: white;
}
/*huge screens*/
@media (min-width: 1440px) {
    .petInfoContainer {
        position: relative;
        background-color: rgba(88, 55, 0, 0.75);
        color: white;
    }
    .petInfo {
        top: 3.5vh;
    }
}
/*ipad pro*/
@media only screen and (min-device-width: 768px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .home-msg {
        text-align: center;
        font-size: 3rem;
    }
    .homeBtn {
        text-align: center;
        width: 24vw;
        font-size: 2.85rem;
    }
    a.backBtn {
        font-size: 2rem;
    }
    body {
        font-size: 2.5rem;
    }
    .form-control {
        font-size: 2.5rem;
    }
    .btn-group-sm>.btn, .btn-sm {
        font-size: 1.6rem;
    }
    .petListTitle {
        font-size: 4rem;
    }
    .btn {
        font-size: 2rem;
    }
    .h2, h2 {
        font-size: 3rem;
    }
    .h4, h4 {
        font-size: 2.5rem;
    }
    .h3, h3 {
        font-size: 2.75rem;
    }
    .h5, h5 {
        font-size: 2.25rem;
    }
    .petAvatar {
        height: 17vh;
        width: 17vh;
    }
    .innerPetInfoContainer h4 {
        font-size: 2.3rem !important;
    }
    .editBtn {
        width: 185px;
    }
    h1 {
        font-size: 3.5rem;
    }
    .menuContainer {
        font-size: 2rem;
    }
    .textContainer {
        width: 100%;
        /* margin-left: 20px; */
        margin-top: 20px;
    }
    .profileContainer {
        width: 70%;
        display: block;
        margin: auto;
    }
    .small, small {
        font-size: 100%;
        font-weight: 400;
    }
}
