@font-face {
  font-family: text-font;
  src: url(../components/assets/fonts/Forum-Regular.ttf);
}

body {
  /* height: 100vh; */
  background-color: rgb(255, 232, 208);
  font-family: text-font;
}

a {
  color: black;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.header {
  height: 10%;
  width: 100%;
  text-align: center;
  background-color: #fdd08b;
  top: 0;
  position: relative;
  z-index: 200;
}

.bodyContainer {
  position: absolute;
  top: 10%;
  height: 90%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 5%;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid black;
}
img {
  border-style: none;
  margin: auto;
  display: block;
}

/* footer {
  overflow: hidden;
  background-color: #ffab3d;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
} */

/************* Everywhere *************/
.picture {
  margin: 0 auto;
  padding: 0;
  width: 40%;
  height: 30vmin;

  border: 1px dashed black;
  border-radius: 15%;

  position: relative;
}

.picture > img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40%;
  margin: 0 auto;
  transform: translateY(-50%) translateX(-50%);
}

.title {
  width: 50%;
  height: 100%;
  margin: auto;
}
.title img {
  height: 100%;
}

form {
  width: 80%;
  margin: auto;
}
/* span {
  color: white;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
} */

.logoContainer {
  text-align: center;
  height: 38%;
  margin: 5% 10% 0;
}

/* .logo {
  background-image: url(../../../server/images/kitten_temp_logo.jpg);
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 103px;
  display: inline-block;
  background-size: contain;
  border: 5px solid orange;
  border-radius: 50%;
} */

.container {
  width: 85%;
}

.buttonContainer {
  text-align: right;
}

input:focus {
  border: 2px solid orange !important;
  color: #0c5460;
}

form {
  width: 80%;
  margin: auto;
}
/************* landing_page *************/
.loginLogo {
  width: 80%;
}
.landinglogoContainer {
  text-align: center;
  height: 100px;
  margin-top: 15%;
}
.contentContainer {
  height: 90%;
  width: 90%;
  flex-wrap: wrap;
  /* background-color: rgba(255, 255, 255, 0.445); */
}
.contentContainer::after {
  content: "";
  background: url(../../dist/assets/images/landing_bg.png);
  background-size: cover;
  opacity: 0.5;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  position: absolute;
  z-index: -1;
}
.landingContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msgBtnContainer {
  padding: 5%;
  bottom: 20%;
}
.home-msg {
  text-align: center;
  font-size: 1.2rem;
  margin: 10%;
}

.homeBtn {
  text-align: center;
  width: 30vw;
}
.homeBtn > img {
  width: 100%;
  height: 100%;
}

.loginBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* width: 79vw; */
}

/************* parent_page *************/

.parentPage {
  margin: 5% 0;
}

.parentPageTitle {
  margin: 10% 0 5%;
}

/************* pet_list *************/

.petAvatar {
  height: 15vh;
  width: 15vh;
  /* background-image: url(../../assets/images/cat_noodle.png); */
  background-position: center;
  border: 2px solid orange;
  border-radius: 50%;
  background-size: 100%;
  display: inline-block;
  /* position: relative; */
  margin-left: 10%;
  top: 50%;
}

.petName {
  display: inline-block;
  left: 10%;
  bottom: 4vh;
  font-size: 2rem;
}

.petListTitle {
  text-align: center;
  display: block;
  /*text-decoration: underline;*/
}

.usersPetContainer div {
  margin-bottom: 2%;
}

.deleteNAddContainer {
  text-align: center;
}
/************* pet_profile *************/
/* h3 {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} */

.connectPetBtn {
  position: relative;
  top: 75%;
}

.petImgContainer .petAvatar {
  position: absolute;
  margin-left: 15%;
  top: 5vh;
}

.petInfoContainer {
  position: relative;
  height: 25vh;
  background-color: rgb(237, 131, 49);
  color: white;
}

.petImgContainer {
  width: 45%;
  height: 100%;
  position: absolute;
}
.petImg {
  left: 5%;
  top: 12%;
  border-radius: 50%;
  border: 2px solid orange;
  position: absolute;
  height: 70%;
  width: 70%;
  background-position: center;
  background-size: 100%;
}
.petImg > img {
  width: 100%;
}
.petInfo h4 {
  font-size: 1.2rem;
}

.petInfoDiv {
  width: 55%;
  height: 100%;
  left: 45%;
  position: absolute;
}
.petInfo {
  top: 2%;
  width: 100%;
  position: absolute;
}
.recordContainer {
  height: 8vh;
  position: relative;
}
.recordContainer:nth-child(odd) {
  background-color: rgba(255, 165, 0, 0.2);
}
.addRecordIcon {
  color: orange;
  font-size: 1.5em;
  margin-left: 2%;
}
.medicalRecord p {
  display: inline-block;
}

/************* record_item *************/

.record_item_header,
.record_item_date {
  margin-bottom: 5%;
  text-align: center;
}

/************* client_list *************/

/* h3 {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} */

.vetInfoContainer {
  position: relative;
  margin-top: 5vh;
  height: 10vh;
}

.vetInfoDiv {
  width: 100%;
  height: 100%;
  position: absolute;
}
/************* pet log_in *************/
.formContainer {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 3% auto 0;
  width: 75%;
  height: 50%;
  border-radius: 25px;
}

#register > a > button {
  margin-left: 5%;
}

/************* hamburger log in ******/
/* .hamContainer{
  height: 100%;
} */
.hamburger {
  position: fixed;
  top: 3%;
  right: 5%;
  width: 6%;
  height: 5vmin;
  transition-duration: 1s;
  z-index: 5;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover .burger-line {
  background-color: rgb(167, 167, 167);
}

.burger-line {
  width: 100%;
  height: 20%;
  margin: 10% 0;
  background-color: rgba(214, 117, 5, 0.89);
  border-radius: 1vmin;
  transition-duration: 0.5s;
}

.menuContainer {
  width: 30%;
  background-color: rgba(168, 102, 25, 0.705);
  position: absolute;
  right: 2%;
}
.menuContainer div {
  margin: 8%;
  color: white;  
  background-color: rgba(223, 173, 117, 0.856);
  border-bottom: solid 1px rgb(0, 0, 0);
  border-right: solid 1px rgb(0, 0, 0);
}
.backBtn {
  position: fixed;
  top: 3%;
  left: 5%;
  z-index: 5;
  float: left;
}

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  65% {
    -webkit-transform: translateY(-4%);
  }
  80% {
    -webkit-transform: translateY(4%);
  }
  95% {
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
/************* vet_page **********************/
.vetTitle {
  margin-top: 5%;
}

.petProfileSpan {
  width: 15%;
}

/************* parent_page_modal*************/

.confirm-modal {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal-content {
  margin: auto;
  width: 100%;
}

.card-block {
  padding-top: 5%;
}

.card-block img {
  width: 20%;
}

/************* about_us page *************/

/* .aboutUsContainer {

} */
/* .teamContainer .imgContainer{
  width: 100%;
} */

/* .teamContainer img {
  width: 100%;
} */

.teamContainer {
  margin: 5% 0;git 
}
/************* manually_add_med_notes *************/


.addMedRecContainer{
  margin-top: 10%;
}













