@font-face {
  font-family: text-font;
  src: url(../components/assets/fonts/Forum-Regular.ttf);
}

html, body, #root {
  height: 100%;
}

a:hover, .hamburger:hover, .fa-times-circle:hover, .recordContainer.recordContainerClientList:hover {
  cursor: pointer;
}

body {
  background-image: url(../../dist/assets/images/bg_lines.png);
  background-color: rgb(255, 224, 176);
  font-family: text-font;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  outline: none;
  box-shadow: none !important;
}

h1.listTitle {
  margin-bottom: 0 !important;
}
.fa-times-circle {
  color: #cc0000;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin: 0 5px;
}

a {
  color: black;
}

progress {
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  height: 10px;
  width: 250px;
  margin-top: 1.5%;
  background-color: orange;
}

.mainContainer {
  /* height: 100%; */
  position: relative;
  margin: 0 20% 0;
  background-color: rgb(255, 232, 208);
}

.header {
  height: 10%;
  width: 100%;
  text-align: center;
  background-color: #fdd08b;
  top: 0;
  position: relative;
  z-index: 200;
}

.bodyContainer {
  /* position: absolute; */
  top: 10%;
  /* height: 100%; */
  width: 100%;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  padding-bottom: 10%;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid black;
}
img {
  border-style: none;
  margin: auto;
  display: block;
}

/************* Everywhere *************/
.nameContainer {
  text-align: center;
}

.picture {
  margin: 0 auto;
  padding: 0;
  width: 40%;
  height: 30vmin;

  border: 1px dashed black;
  border-radius: 15%;

  position: relative;
}

.picture > img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40%;
  margin: 0 auto;
  transform: translateY(-50%) translateX(-50%);
}

.title {
  width: 50%;
  height: 100%;
  margin: auto;
}

form {
  width: 80%;
  margin: auto;
}

.logoContainer {
  text-align: center;
  height: 38%;
  margin: 5% 10% 0;
}

.signUpBtn {
  margin-top: 5%;
}

.buttonContainer {
  text-align: right;
  margin: inherit;
}

input:focus {
  border: 1px solid orange !important;
  color: #0c5460;
}

form {
  width: 80%;
  margin: auto;
}


/************* app.js(modal) *************/

.welcomeModalContainer{
  position: absolute;
  top: 30%;
  height: 90%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 5%;
}

.welcomeModalContainerHidden{
  display: none;
}

/************* landing_page *************/

.mainLandingContainer{
  height: 100%;
  position: relative;
}

.loginLogo {
  width: 80%;
}
.landinglogoContainer {
  text-align: center;
  height: 100px;
  margin-top: 15%;
}
.contentContainer {
  height: 90%;
  width: 90%;
  flex-wrap: wrap;
}
.contentContainer::after {
  content: "";
  background: url(../../dist/assets/images/landing_bg.png);
  background-size: cover;
  opacity: 0.5;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  position: absolute;
  z-index: -1;
}
.landingContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msgBtnContainer {
  padding: 5%;
  bottom: 20%;
}
.home-msg {
  text-align: center;
  font-size: 1.2rem;
  margin: 10%;
}

.homeBtn {
  text-align: center;
  width: 30vw;
}
.homeBtn > img {
  width: 100%;
  height: 100%;
}

.loginBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/************* parent_page *************/

.parentPage {
  margin: 5% 0;
}

.parentPageTitle {
  margin: 10% 0 5%;
}

/************* contact_us *************/
.contactUsPage {
  margin: 10px 0;
}

.contactUsPageTitle {
  margin: 10% 0 5%;
}

.errorMessage {
  display: inline-block;
  padding-left: 40px;
}
.form-group.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
}
.contactUsPage .buttonContainer img {
  margin: auto;
  width: 10%;
  height: 10%;
}
/************* pet_list *************/

.petAvatar {
  height: 15vh;
  width: 15vh;
  background-position: center;
  border: 2px solid orange;
  border-radius: 50%;
  background-size: 100%;
  background-size: cover;
  margin: auto;
}

.petName {
  display: inline-block;
  left: 10%;
  bottom: 4vh;
  font-size: 2rem;
  margin-left: 10%;
}

.petListTitle {
  text-align: center;
  display: block;
  font-size: 2rem;
  position: relative;
}

.usersPetContainer div {
  margin-bottom: 2%;
}

.deleteNAddContainer {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.petRow {
  padding: 3% 0;
}

.petRow > a,
.petRow > div {
  float: left;
  width: 40%;
}

.addPet{
  margin-left:5%;
}
/************* pet_profile *************/

.connectPetBtn {
  position: relative;
  top: 75%;
}
.deleteBtnPetProfile {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  margin-right: 10px;
  z-index: 100;
}
h3.medicalRecord {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.petImgContainer .petAvatar {
  position: absolute;
  margin-left: 15%;
  top: 5vh;
}

.petInfoContainer {
  position: relative;
  height: 25vh;
  background-color: rgba(88, 55, 0, 0.75);
  color: white;
}

.petImgContainer {
  width: 45%;
  height: 100%;
  position: absolute;
}
.petImg {
  left: 5%;
  top: 12%;
  border-radius: 50%;
  border: 2px solid orange;
  position: absolute;
  height: 70%;
  width: 70%;
  background-position: center;
  background-size: 100%;
}
.petImg > img {
  width: 100%;
}
.petInfo h4 {
  font-size: 1.2rem;
}

.petInfoDiv {
  width: 55%;
  height: 100%;
  left: 45%;
  position: absolute;
}
.petInfo {
  top: 2%;
  width: 100%;
  position: absolute;
}
.recordContainer {
  height: 10vh;
  position: relative;
}
.recordContainer:nth-child(even) {
  background-color: rgba(255, 165, 0, 0.2);
}
.addRecordIcon {
  color: orange;
  font-size: 1.5em;
  margin-left: 2%;
}
.medicalRecord p {
  display: inline-block;
}

.addMedicalRecord{
  margin-left:5%;
}

/************* record_item *************/

.record_item_header,
.record_item_date,
.record_item_detail {
  margin-bottom: 5%;
  text-align: center;
}
.editBtn {
  /* margin-left: 5%; */
  /* position: absolute; */
  right: 2%;
  top: 0;
  width: 100px;
}
.medicalRecordHeader{
    margin-top: 2%
}
/************* client_list *************/

.recordContainer.recordContainerClientList {
  height: auto;
}

.petList h3 {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vetInfoContainer {
  position: relative;
  margin-top: 5vh;
  height: 10vh;
}

.vetInfoDiv {
  width: 100%;
  height: 100%;
  position: absolute;
}

.btnContainerPetProfile {
  position: relative;
  top: 2vh;
  padding-bottom: 10%;
}

.recordContainer h5 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.clientList h2{
  font-weight:bold;
}
/************* pet log_in *************/
.formContainer {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 3% auto 0;
  width: 75%;
  height: 50%;
  border-radius: 25px;
  padding: 5%;
}
.register {
  width: 70%;
}
.register a {
  margin-left: 10%;
}

/************* hamburger log in ******/
.logoImgContainer {
  height: 10vh;
}
.logoImg {
  max-width: 100%;
  height: 95%;
}

.outsideMenuContainer {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 100%;
}

.hamburger {
  width: 5vmax;
  height: 5vh;
  transition-duration: 1s;
}

.hamburger:hover .burger-line {
  background-color: rgb(167, 167, 167);
}

.burger-line {
  width: 100%;
  height: 20%;
  margin: 10% 0;
  background-color: rgba(214, 117, 5, 0.89);
  border-radius: 1vmin;
  transition-duration: 1s;
}

.menuContainer {
  background-color: rgba(68, 68, 68, 0.89);
  padding: 1%;
}
.menuContainer div {
  margin: 5%;
  border-bottom: solid 1px rgb(133, 133, 133);
  cursor: pointer;
  color: white;
}

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/************* vet_page **********************/
.vetTitle {
  margin-top: 5%;
}

.petProfileSpan {
  right: 10%;
}

/************* parent_page_modal*************/


/************* about_us page *************/
.bgAboutUsContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  background-color: #ffebd6;
  margin-left: auto;
}
.aboutUsContainer {
  background: #f46b45;
  background: -webkit-linear-gradient(80deg, #f8be73b2, #f48545d8);
  background: linear-gradient(80deg, #f8be73b2, #f48545d8);
  height: 100%;
  background-size: cover;
}
.teamContainer {
  padding: 5%;
  margin: 5%;
  background-color: rgba(255, 255, 255, 0.2);
}
.teamContainer h1 {
  margin-bottom: 10%;
}
.textContainer {
  width: 50%;
  margin-left: 20px;
}
.profileContainer {
  width: 40%;
}

/************* manually_add_med_notes *************/

.addMedRecContainer {
  margin-top: 10%;
}

/************* pet_to_vet *************/

.petToVetContainer {
  margin-top: 10%;
}
.smallTagDiv{
    margin-top: 4%;
}
.connectPetSmallTag{
    margin: 25% 5% 0;
}


/****************** save_button ************************/
.btn.btn-success.pull-right{
  margin-right: 20%;
}
