h3 {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.petInfoContainer{
    position: relative;
    margin-top: 15vh;
    height: 25vh;
}

.petImgContainer{
    width: 45%;
    height: 100%;
    position: absolute;
}
.petImg{
    left: 5%;
    top: 12%;
    border-radius: 50%;
    border: 2px solid orange;
    position: absolute;
    height: 70%;
    width: 70%;
    background-position: center;
    background-size: 150%;
}
.petImg > img{
    width: 100%;
}

.petInfoDiv{
    width: 55%;
    height: 100%;
    left: 45%;
    position: absolute;
}
.petInfo{
    top: 20%;
    width: 100%;
    position: absolute;
}
.recordContainer {
    height: 8vh;
    position: relative;
}
.recordContainer:nth-child(odd) {
    background-color: rgba(255,165,0, .2);
}
.addRecordIcon {
    color: orange;
    font-size: 1.5em;
    margin-left: 2%;
}
.medicalRecord p {
display: inline-block;
}