.confirm-modal{
    display:flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0,0,0, .3);
    top: 0;
    left: 0;
    z-index: 1000;
}
.content-modal{
    margin: auto;
    width: 75%;
    height: 35%
}
div.card{
    height: 100%;
}